@model Question_1.Models.Customer
@{
    ViewBag.Title = "GetCustomerDetailsWithId10248";
}

<h2>GetCustomerDetailsWithId10248</h2>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(Model => Model.CustomerID)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.CustomerID)
        </dd>
        <dt>
            @Html.DisplayNameFor(Model => Model.CompanyName)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.CompanyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(Model => Model.ContactName)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.ContactName)
        </dd>
        <dt>
            @Html.DisplayNameFor(Model => Model.ContactTitle)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.ContactTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(Model => Model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(Model => Model.City)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(Model => Model.Region)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Region)
        </dd>
        <dt>
            @Html.DisplayNameFor(Model => Model.PostalCode)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.PostalCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(Model => Model.Country)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(Model => Model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(Model => Model.Fax)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Fax)
        </dd>
    </dl>
</div>